#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 1rem;
}

button {
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

button[disabled]{
  pointer-events: none;
}